*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* color: #FFFFFF; */
}
/* h2{
    color: #FFFFFF;
} */
 nav{
    width: auto;
    max-width: 1600px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1A0B2E;
    color: #FFFFFF;
}

.logo img{
    width: 200px;
    height: 30px;
}
.hamburger{
    display: none;
 }
.menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 35px;

}

.btn:hover{
    border: 2px solid #00FF88;
    background: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}
.btn-a:hover{
     border: 2px solid #00FF88;
    background: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}
.btn{
    
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    background-size: 400% 400%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    animation: gradient-animation 10s ease infinite;
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.btn-a{
    background-color: none;
    background: none;
    border: 1px solid #00FF88;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    border-radius: 30px;
    cursor: pointer;

}

.container{
    /* url("./assets/hero-circle.png"), */
    background-image:  url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    /* background-position-x: center;
    background-position-y:  25%; */
    width: auto;
    max-width: 1600px;
    height: 760px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-box{
    width: 550px;
    height: 560px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 50px;
}
.mice-image{
    position: absolute;
    top: 29%;
    right: 47%;
}

.challenge{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #00FF88;
    /* box-sizing: border-box; */
    box-shadow: 0 0 5px #00FF88;
    
    border-radius: 35px;
    padding: 5px 9px;
    height: 40px;
    width: 80px;
}
.challenge h5{
    font-size: 18px;
    font-weight: 700;
    color: black;
}
.challenge{
    position: absolute;
    top: 22.7%;
    right: 41.5%;

}

.techwave-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.techwave-box h1{
    font-size: 80px;
    font-weight: bolder;
    color: #ffffff;

}
.techwave-box p{
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    opacity: 0.8;
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    
}




                      /* third part */

#podcast{
    background-color: #1A0B2E;
    color: #FFFFFF;
     width: auto;
   max-width: 1600px;
    height: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    /* gap: 80px; */
}
.pre-about{
    width: 100%;
    max-width: 1600px;
    text-align: center;
}

hr{
    width: 100%; 
    margin-top: 80px;
    margin-bottom: 80px;
    border: 0;
    border-top: 1px solid #ffffff1e;
    margin: 40px 0;
}

.late-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}
.star-item h3{
    font-size: 48px;
    font-weight: bolder;
    color: #00FF88;
    margin-bottom: 5px;
}
.About-card p{
    font-size: 16px;
    font-weight: 100;
    color: #FFFFFF;
    line-height: 25px;
    margin: 0 auto 20px;

}
.About-card h2{
    font-size: 48px;
    font-weight: bolder;
    color: #FFFFFF;
    margin-bottom: 20px;
    

}
.star-item p{
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}



                       /* fourth part */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* color: #FFFFFF; */
}

p{
    font-size: 16px;
    font-weight: 100;
    color: #FFFFFF;
    line-height: 25px;
}
/* .hero-container {
    font-size: 48px;
    font-weight: bolder;
    color: #FFFFFF;
    margin-bottom: 20px;
} */


.hero{
     background-color: #230E3D;
    color: #FFFFFF;
    display: flex;
   flex-direction: column;
   height: 1130px;
   width: auto;
   max-width: 1600px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 200px;
    padding-left: 200px;   
}

.hero-content h2{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bolder;
    color: #FFFFFF;
    margin-bottom: 30px; 
}

.hero-container{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(3,1fr); */
    gap: 25px;
}

.hero-card-one{
    grid-row: span 2;
}

.hero-card-two, .hero-card-three{
    grid-column: span 2;
}

.hero-card-four{
    grid-column: span 2;
}

.hero-card-one,.hero-card-two, .hero-card-three,.hero-card-four,.hero-card-five{
    background-color: #351165;
    padding: 40px 40px;
    border-radius: 40px;
}
.hero-card-one h4{
    font-size: 24px;
    font-weight: bold;  
    margin-bottom: 10px; 
}
.hero-card-two h4{
    font-size: 24px;
    font-weight: bold;  
    margin-bottom: 10px; 

}

.hero-card-three h4{
    font-size: 24px;
    font-weight: bold;  
    margin-bottom: 10px; 
}

.hero-card-four h4{
    font-size: 24px;
    font-weight: bold;  
    margin-bottom: 10px; 
}

.hero-card-five h4{
    font-size: 24px;
    font-weight: bold;  
    margin-bottom: 10px; 
}

.hero-card-one img{
    margin-top: 50px;
    margin-bottom: 10px;
}
.hero-card-two img,
.hero-card-three img,
.hero-card-four img,
.hero-card-five img{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* .hero-card-three img{
margin-top: 10px;
    margin-bottom: 10px;
}
.hero-card-four img{
margin-top: 10px;
    margin-bottom: 10px;
}
.hero-card-five img{
margin-top: 40px;
    margin-bottom: 10px;
} */


                    /* fifth part of the dev */




#pre-footer{
    background-color: #1A0B2E;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
     width: auto;
   max-width: 1600px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 200px;
    padding-left: 200px;
}

#pre-footer h2{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: bolder;
    color: #FFFFFF;
    margin-bottom: 30px; 
    
}


 .feature{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: auto;
    max-width: 1600px;
    gap: 30px;
    margin-bottom: 120px;
    
 }


.feature-episode{
    
     display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #250D44;
    border-radius: 15px;
} 


iframe{
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.feature-one,
.feature-two,
.feature-three{
    padding: 24px;
   

}
.feature-one h4,
.feature-two h4,
.feature-three h4
{
     font-size: 24px;
    font-weight: bold;  
    margin-bottom: 15px; 
}
.feature-one p,
.feature-two p,
.feature-three p{
    font-size: 16px;
    font-weight: 100;
    color: #FFFFFF;
    line-height: 25px;
    margin: 0 auto 20px;

}
.clock{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* meet the host */

.stamp{
    padding: 40px 40px;
     background-color: #250D44;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: auto;
    max-width: 1600px;
      border-radius: 25px;
}

.meet-the-host{
    display: flex;
    gap: 24px;
    
}
.items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.items h3{
    font-size: 32px;
    font-weight: bold;
}

.items p{
    font-size: 16px;
    font-weight: 100;
    color: #FFFFFF;
    line-height: 25px;
    margin: 0 auto ;
}

.icones{
    display: flex;
    align-items: center;
    gap: 12px;
}

.icones a{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    height: 40px;
    width: 40px;
    border: 1px solid purple;
    border-radius: 50%;
}



                /* Sixth part of the dev */


                .footer{
    background-image: url('./assets/footer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    max-width: 1600px;
    /* height: auto; */
    height: 415px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-card{
    
    width: auto;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    gap: 25px;

}

.social-card{
    color: #ffffff;
    font-weight: 100;
    
    display: flex;
    list-style: none;
    align-items: center;
    gap: 45px;

}

.social-card li{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-card-img{
    width: auto;
    height: auto;

}

.copy-right p{
    font-size: 16px;
    font-weight: 100;
    color: #FFFFFF;
    line-height: 25px;
}